@charset "UTF-8";

html, body {
	background-color: #eaece5;
	overflow: hidden;
	height: 100%;
	width: 100%;
	display: flex;
}

p {
	margin: 5px;
	font-size: 2em;
}
@media(max-width: 600px) {
	p{
		font-size: 1.5em;	
	}
}

.game-board {
	width: 80vw;
	max-width: 80vh;
	height: 80vw;
	max-height: 80vh;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
	margin: auto;
	grid-gap: 10px;
}

.box {
	background-color: #b2c2bf;
	border-radius: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,0.5);
	font-size: 20px;
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	text-align: center;
}

button {
	border-radius: 5px;
	margin: 10px;
    padding: 8px 24px 8px 24px;	
	cursor: pointer;
	background-color: transparent;
	outline: none;
	border-style: solid;
	font-size: 300%;
	font-size: 10vmin;
	font-family: 'PT Mono', sans;
}
button:hover {
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
}
#selectX {
	color: #c0ded9;
	border-color: #c0ded9;
}
#selectO {
	color: #3b3a30;
	border-color: #3b3a30;
}
